/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix {
	zoom: 1;
}

/* IE6 */
*:first-child+html .clearfix {
	zoom: 1;
}

body {
	color: #666;
	/*font-family:'Roboto Slab';
	font-weight:300;*/
	font-family: 'open sans';
	font-weight: 300;
	font-size: 12px;
}

body:before { /* top shadow */ 
	content: ""; 
	position: fixed; 
	top: -10px; 
	left: -10px; 
	width: 110%; 
	height: 10px;  
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);  
	z-index: 100; 
}

h1 {
	text-align: center;
	margin-bottom: 150px;
	font-weight: 300;
	font-size: 50px;
}

#wrapper {
	width: 1000px;
	margin: 100px auto;
}

section {
	width: 45%;
	float: left;
	border-radius: 5px;
}

section:nth-child(3){
	margin-left: 10%;
	text-align: right
}

section:nth-child(3) select {
	float: right;
	text-align: right;
}

select {
	position: relative;
	display: block;
	min-width: 8em;
	width: 410px;
	padding: 5px 8px;
	border: thin solid rgba(0,0,0,.3);
	border-radius: 5px;
	background: hsla(0,0%,90%,.9);
	text-shadow: 0 .05em 1px white;
	/*font-family:'Roboto Slab';
	font-weight:300;*/
	font-family: 'open sans';
	font-weight: 300;
	font-size: 24px;
	box-shadow: .05em .1em .2em rgba(0,0,0,.4) inset;
	margin-top: 2px;
	color: #333;
}

:focus {
	outline: none;
}

label {
	padding: 5px 8px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
}

.depart {
	background: #801F66;
	margin-left: 15px;
}

.arrivee {
	background: #DA011E;
	margin-right: 15px;
}

#train {
	display: inline;
	width: auto;
}

#progress {
	width: 100%;
	height: 30px;
	background: #bbb;
	margin-top: 300px;
}

#indicator {
	height: 100%;
	width: 0;
	background: #801F66;
}

#result {
	padding-top: 60px;
	text-align: center;
	font-size: 30px;
	width: 100%;
}
	#result span {
		background: #801F66;
		color: #fff;
		padding: 0 5px;
		border-radius: 3px;
	}

canvas {
	display: none;
}

#infos {
	width: 980px;
	margin: 130px auto 0;
	border-left: solid 15px #801F66;
	padding-left: 15px;
	position: relative;
	line-height: 22px;
	font-size: 14px;
	opacity: .6;
}

#infos:before {
	content: "?";
	position: absolute;
	left: -12px;
	top: 5px;
	font-size: 20px;
	color: #fafafa;
}

#infos:hover {
	opacity: 1;
}