/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License:  none (public domain)
 */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

* html .clearfix {
	zoom: 1;
}

/* IE6 */
*:first-child+html .clearfix {
	zoom: 1;
}

body {
	color: #666;
	font-family: 'open sans';
	font-weight: 300;
	font-size: 12px;
}

body:before { /* top shadow */ 
	content: ""; 
	position: fixed; 
	top: -10px; 
	left: -10px; 
	width: 110%; 
	height: 10px;  
	box-shadow: 0px 0px 10px rgba(0,0,0,.3);  
	z-index: 100; 
}

h1 {
	text-align: center;
	margin-bottom: 150px;
	font-weight: 300;
	font-size: 40px;
}

.italic {
	font-style: italic;
}

.font-violet { 
	color: #801F66;
} 

.font-rouge { 
	color: red;
} 

.font-not-italic {
	font-style: normal;
}

#wrapper {
	width: 1000px;
	margin: 100px auto;
}

section {
	width: 30%;
	float: left;
	border-radius: 5px;
}

section:nth-child(4){
	margin-left: 10%;
	text-align: right
}

section:nth-child(4) select {
	float: right;
	text-align: right;
}

	.large {
		width: 100%;
		text-align: center;
		margin-bottom: 150px;
		font-weight: 300;
		font-size: 50px;
	}

select {
	position: relative;
	display: block;
	min-width: 8em;
	width: 410px;
	padding: 5px 8px;
	border: thin solid rgba(0,0,0,.3);
	border-radius: 5px;
	background: hsla(0,0%,90%,.9);
	text-shadow: 0 .05em 1px white;
	font-family: 'open sans';
	font-weight: 300;
	font-size: 24px;
	box-shadow: .05em .1em .2em rgba(0,0,0,.4) inset;
	margin-top: 2px;
	color: #333;
	cursor: pointer; 
}

:focus {
	outline: none;
}

label {
	padding: 5px 8px;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 18px;
}

	.pickone {
		background : orange;
		width: 20px;
		font-size: 10px;
		border-radius: 0 3px 3px 0;
		padding: 21px 5px 20px;
		/*margin-bottom : 20px;
		line-height: 30px;*/
		vertical-align: middle;
	}

.depart {
	background: #801F66;
	margin-left: 15px;
}


.arrivee {
	background: #DA011E;
	margin-right: 15px;
}

#train {
	display: inline;
	width: auto;
	font-size: 30px;
	border-radius: 3px 0 0 3px;
}

button {
	padding : 3px 5px;
	border: 0;
	border-radius: 3px;
	background: #801F66;
	color : #fff;
	display: block;
	margin: 30px 50% 20px;
	width: 100px;
	box-shadow: red 5px 5px 0px;
}

	button:hover {
		cursor: pointer;   
		background: red;
		box-shadow: #801F66 5px 5px 0px;
	}
	

#progress {
	width: 100%;
	height: 30px;
	background: #bbb;
	margin-top: 350px;
	border-radius : 3px;
}

#indicator {
	height: 100%;
	width: 0;
	background: #801F66;
	border-radius : 3px;
}

#result {
	padding-top: 80px;
	text-align: center;
	font-size: 40px;
	width: 100%;
}
	#result span {

		
	}
	
	.violet {
		background: #801F66;
		color: #fff;
		padding: 0 5px;
		border-radius: 3px;
	}
	
	.smaller {
		font-size: 18px;
		margin-top: 50px;
	}

canvas {
	display: none;
}

#infos {
	width: 980px;
	margin: 130px auto 0;
	border: solid 1px #801F66;
	border-left: solid 20px #801F66;
	border-radius: 3px;
	padding: 10px;
	position: relative;
	line-height: 22px;
	font-size: 14px;
	opacity: .6;
}

	#infos:before {
		content: "?";
		position: absolute;
		left: -14px;
		top: 5px;
		font-size: 20px;
		color: #fafafa;
		font-weight: bold;
	}

	#infos:hover {
		opacity: 1;
	}
	
	
sup {
	font-size: 10px;
	padding: 2px 3px;
	border-radius: 3px;
	background: lightseagreen;
	color: #fff;
}